---
import { Image } from "astro:assets";

import dfacapitalTape1 from "../../assets/dfacapital/dfacapitalTape1@2x.png";
import dfacapitalTape2 from "../../assets/dfacapital/dfacapitalTape2@2x.png";
import dfacapitalTape3 from "../../assets/dfacapital/dfacapitalTape3@2x.png";
import dfacapitalTape4 from "../../assets/dfacapital/dfacapitalTape4@2x.png";
import dfacapitalTape5 from "../../assets/dfacapital/dfacapitalTape5@2x.png";
import VCFirms from "../../assets/dfacapital/VCfirms@2x.png";
import dfacapitalDeck1 from "../../assets/dfacapital/dfacapitalDeck1@2x.png";
import dfacapitalDeck2 from "../../assets/dfacapital/dfacapitalDeck2@2x.png";
import dfacapitalDeck3 from "../../assets/dfacapital/dfacapitalDeck3@2x.png";
import dfacapitalDeck4 from "../../assets/dfacapital/dfacapitalDeck4@2x.png";
import dfacapitalWP from "../../assets/dfacapital/dfacapitalWP@2x.png";
import dfacapitalLogoDark from "../../assets/dfacapital/dfacapitalLogoDark@2x.png";
import dfacapitalLogo1 from "../../assets/dfacapital/dfacapitalLogo1@2x.png";
import dfacapitalLogo2 from "../../assets/dfacapital/dfacapitalLogo2@2x.png";
import dfacapitalLogo3 from "../../assets/dfacapital/dfacapitalLogo3@2x.png";
import dfacapitalLogo4 from "../../assets/dfacapital/dfacapitalLogo4@2x.png";
import dfacapitalLogo5 from "../../assets/dfacapital/dfacapitalLogo5@2x.png";
import dfacapitalPins from "../../assets/dfacapital/dfacapitalPins@2x.png";
import dfacapitalOGImage from "../../assets/dfacapital/dfacapitalOGImage@2x.png";
import Icon from "../../components/Icon.astro";
import Tag from "../../components/Tag.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="dfacapital - Corey T"
  description="dfacapital Visual Identity"
>
  <div class="mx-auto w-full justify-center">
    <div
      class="border-gray relative mx-auto flex max-w-screen-2xl grid-cols-12 flex-col gap-x-2 border border-b-0 py-8 md:grid md:border-t-0"
    >
      <div class="relative col-span-12 grid-cols-12 justify-between md:grid">
        <div
          class="top-0 z-10 col-span-full grid bg-neutral-100 px-8 md:col-span-6"
          id="description"
        >
          <a
            class="mb-4 flex gap-2 pt-4 text-xs uppercase text-neutral-400"
            href="/work/"><Icon icon="arrow-left" /> Work</a
          >
          <h1 class="mb-2 text-5xl font-light">D.F.A. Capital Identity</h1>
          <div class="-ml-2 mb-4 justify-start">
            <Tag text="Identity" />
          </div>
        </div>
        <div
          class="relative col-span-full gap-4 place-self-center px-8 md:col-span-6 md:mt-4"
        >
          <p class="text-md font-light">
            D.F.A. Capital, a venture capital firm, stands out by prioritizing
            diversity, equity, and inclusion. It invests in scalable ventures
            and supports founders committed to these values, aiming to create a
            more inclusive and equitable funding ecosystem.
          </p>
        </div>
      </div>
    </div>
    <div
      class="border-gray mx-auto grid max-w-screen-2xl grid-cols-6 border md:border-t-0"
    >
      <Image
        src={dfacapitalDeck1}
        alt="dfacapital previous branding refrence"
        class="col-span-full pb-8 md:col-span-6"
      />

      <div
        class="relative col-span-full grid grid-cols-6 items-start gap-4 px-8 pb-16 pt-8"
      >
        <div
          class="col-span-full flex items-center text-left md:col-span-3 md:inline-flex"
        >
          <div class="pr-8 text-xl font-light uppercase tracking-widest">
            The Challenge
          </div><div
            class="hidden flex-auto self-center border-b border-neutral-200 md:flex"
          >
          </div>
        </div>
        <p class="text-md col-span-full font-light md:col-span-3 md:px-8">
          D.F.A. Capital differentiates itself in the VC landscape by focusing
          on underrepresented founders, bringing a unique punk ethos to venture
          capital. This distinct persona needed to be encapsulated in their
          visual language.
        </p>
      </div>
      <Image
        src={VCFirms}
        alt="dfacapital previous branding refrence"
        class="col-span-full pb-8 md:col-span-6"
      />

      <div
        class="relative col-span-6 grid grid-cols-6 items-start gap-4 px-8 pb-16 pt-8"
      >
        <div
          class="col-span-full flex items-center text-left md:col-span-3 md:inline-flex"
        >
          <div class="pr-8 text-xl font-light uppercase tracking-widest">
            The Solution
          </div><div
            class="hidden flex-auto self-center border-b border-neutral-200 md:flex"
          >
          </div>
        </div>
        <p class="text-md col-span-full font-light md:col-span-3 md:px-8">
          We drew inspiration from early punk flyers, zines, & wheat paste
          posters juxtaposed to a ‘buttoned up’ corporate style. This created a
          unique visual identity that resonated with the firm's ethos, stand up
          to the big ones and do something different.
        </p>
      </div>
      <Image
        src={dfacapitalLogo5}
        alt="dfacapital Product page"
        class="col-span-full pb-24 md:col-span-6"
      />
      <div class="col-span-3 grid grid-cols-4">
        <div class="col-span-full sm:col-span-2">
          <Image
            src={dfacapitalLogo1}
            alt="dfacapital Product page"
            class="border"
          />
        </div>
        <div class="col-span-full sm:col-span-2">
          <Image src={dfacapitalLogo2} alt="dfacapital Product page" class="" />
        </div>
        <div class="col-span-full sm:col-span-2">
          <Image src={dfacapitalLogo4} alt="dfacapital Product page" class="" />
        </div>
        <div class="col-span-full sm:col-span-2">
          <Image
            src={dfacapitalLogo3}
            alt="dfacapital Product page"
            class="border"
          />
        </div>
      </div>
      <div class="col-span-3 grid grid-cols-4">
        <div class="col-span-full flex h-auto items-center px-24 py-2">
          <Image src={dfacapitalTape4} alt="dfacapital Product page" class="" />
        </div>

        <div
          class="col-span-full flex h-auto items-center bg-neutral-900/95 px-24"
        >
          <Image src={dfacapitalTape5} alt="dfacapital Product page" class="" />
        </div>
      </div>
      <Image
        src={dfacapitalOGImage}
        alt="dfacapital OG image"
        class="col-span-full border-b md:col-span-6"
      />

      <div
        class="relative col-span-6 grid grid-cols-6 items-start gap-4 px-8 py-16"
      >
        <div
          class="col-span-full flex items-center text-left md:col-span-3 md:inline-flex"
        >
          <div class="pr-8 text-xl font-light uppercase tracking-widest">
            The Execution
          </div><div
            class="hidden flex-auto self-center border-b border-neutral-200 md:flex"
          >
          </div>
        </div>
        <p class="text-md col-span-full font-light md:col-span-3 md:px-8">
          We developed a brand identity that pushed on the traditional Venture
          Capital persona and fully embraced D.F.A. Capital’s alternate roots,
          helping them effectively capturing their unique market position.
        </p>
      </div>

      <div class="col-span-full px-8 pb-8 sm:col-span-3 sm:px-4">
        <Image
          src={dfacapitalDeck1}
          alt="dfacapital pitch deck"
          class="rounded-lg border"
        />
      </div>
      <div class="col-span-full px-8 pb-8 sm:col-span-3 sm:px-4">
        <Image
          src={dfacapitalDeck2}
          alt="dfacapital pitch deck"
          class="rounded-lg border"
        />
      </div>
      <div class="col-span-full px-8 pb-8 sm:col-span-3 sm:px-4">
        <Image
          src={dfacapitalDeck3}
          alt="dfacapital pitch deck"
          class="rounded-lg border"
        />
      </div>
      <div class="col-span-full px-8 pb-8 sm:col-span-3 sm:px-4">
        <Image
          src={dfacapitalDeck4}
          alt="dfacapital pitch deck"
          class="rounded-lg border"
        />
      </div>
      <Image
        src={dfacapitalPins}
        alt="dfacapital OG image"
        class="col-span-full border-b md:col-span-6"
      />
    </div>
  </div>
</BaseLayout>
