---
import { Image } from "astro:assets";

import potpourriBrinks1 from "../../assets/potpourri/potpourriBrinks1.jpg";
import potpourriBrinks2 from "../../assets/potpourri/potpourriBrinks2.jpg";
import potpourriBrinks4 from "../../assets/potpourri/potpourriBrinks4.jpg";
import potpourriBrinks6 from "../../assets/potpourri/potpourriBrinks6.jpg";
import potpourriBulleit1 from "../../assets/potpourri/potpourriBulleit1.jpg";
import potpourriBulleit2 from "../../assets/potpourri/potpourriBulleit2.jpg";
import potpourriBulleit6 from "../../assets/potpourri/potpourriBulleit6.gif";
import potpourriBulleitTattoo1 from "../../assets/potpourri/potpourriBulleitTattoo1.jpg";
import potpourriBulleitTattoo2 from "../../assets/potpourri/potpourriBulleitTattoo2.jpg";
import potpourriBulleitTattoo3 from "../../assets/potpourri/potpourriBulleitTattoo3.jpg";
import potpourriBulleitTattoo5 from "../../assets/potpourri/potpourriBulleitTattoo5.jpg";
import potpourriBulleitTattoo6 from "../../assets/potpourri/potpourriBulleitTattoo6.jpg";
import potpourriBulleitTattoo7 from "../../assets/potpourri/potpourriBulleitTattoo7.jpg";
import potpourriBulleitTattoo8 from "../../assets/potpourri/potpourriBulleitTattoo8.jpg";
import potpourriBulleitTattoo9 from "../../assets/potpourri/potpourriBulleitTattoo9.jpg";
import potpourriClash2 from "../../assets/potpourri/potpourriClash2.png";
import potpourriClash3 from "../../assets/potpourri/potpourriClash3.png";
import potpourriDD from "../../assets/potpourri/potpourriDD.png";
import potpourriCloud1 from "../../assets/potpourri/potpourriCloud1.png";
import potpourriRY from "../../assets/potpourri/potpourriRY.png";
import potpourriGrey4 from "../../assets/potpourri/potpourriGrey4.png";
import potpourriSawtooth5 from "../../assets/potpourri/potpourriSawtooth5.png";
import potpourriSawtooth4 from "../../assets/potpourri/potpourriSawtooth4.jpg";
import potpourriLC5 from "../../assets/potpourri/potpourriLC5.jpg";
import potpourriNYC1 from "../../assets/potpourri/potpourriNYC1.jpg";
import potpourriNYC2 from "../../assets/potpourri/potpourriNYC2.jpg";
import potpourriNYC3 from "../../assets/potpourri/potpourriNYC3.jpg";
import potpourriNYC4 from "../../assets/potpourri/potpourriNYC4.jpg";
import Icon from "../../components/Icon.astro";
import Tag from "../../components/Tag.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Potpourri - Corey T" description="A potpourri of projects">
  <div class="mx-auto w-full justify-center">
    <div
      class="border-gray relative mx-auto flex max-w-screen-2xl grid-cols-12 flex-col gap-x-2 border border-b-0 py-8 md:grid md:border-t-0"
    >
      <div class="relative col-span-12 grid-cols-12 justify-between md:grid">
        <div
          class="top-0 z-10 col-span-full grid bg-neutral-100 px-8 md:col-span-6"
          id="description"
        >
          <a
            class="mb-4 flex gap-2 pt-4 text-xs uppercase text-neutral-400"
            href="/work/"><Icon icon="arrow-left" /> Work</a
          >
          <h1 class="mb-2 text-5xl font-light">A Potpourri of Projects</h1>
          <div class="-ml-2 mb-4 justify-start">
            <Tag text="Identity" />
            <Tag text="print" />
            <Tag text="illustration" />
            <Tag text="Magic" />
          </div>
        </div>
        <div
          class="relative col-span-full gap-4 place-self-center px-8 md:col-span-6 md:mt-4"
        >
          <p class="text-md font-light">
            A delightful mix of design projects that have no other home. This
            eclectic collection showcases a bit of everything—from quirky
            experiments to spontaneous one-off asks. It’s like a box hidden in
            your closet with old concert tickets and mixtapes, but design.
          </p>
        </div>
      </div>
    </div>
    <div
      class="border-gray mx-auto grid max-w-screen-2xl grid-cols-6 gap-1 pb-1 md:border-t-0"
    >
      <div title="Brinks" class="col-span-full grid grid-cols-2 gap-1">
        <Image
          src={potpourriBrinks1}
          alt="siro open graph image"
          class="col-span-2"
        />
        <Image src={potpourriBrinks2} alt="siro open graph image" class="" />
        <Image src={potpourriBrinks6} alt="siro open graph image" class="" />
        <Image
          src={potpourriBrinks4}
          alt="siro open graph image"
          class="col-span-2"
        />
      </div>
    </div>
    <div
      class="border-gray mx-auto grid max-w-screen-2xl grid-cols-6 gap-1 pb-1 md:border-t-0"
    >
      <div
        title="Bulleit Impressions"
        class="col-span-full grid grid-cols-2 gap-1"
      >
        <Image
          src={potpourriBulleit2}
          alt="siro open graph image"
          class="col-span-2"
        />
        <Image
          src={potpourriBulleit1}
          alt="siro open graph image"
          class="col-span-2"
        />
      </div>
    </div>
    <div
      class="border-gray mx-auto grid max-w-screen-2xl grid-cols-6 gap-1 pb-1 md:border-t-0"
    >
      <div title="Bulleit Tattoo" class="col-span-full grid grid-cols-2 gap-1">
        <Image
          src={potpourriBulleitTattoo8}
          alt="siro open graph image"
          class="col-span-2"
        />
        <div class="grid grid-cols-2 gap-1">
          <Image
            src={potpourriBulleitTattoo5}
            alt="siro open graph image"
            class="col-span-2"
          />
        </div>
        <div class="grid grid-cols-2 gap-1">
          <Image
            src={potpourriBulleitTattoo1}
            alt="siro open graph image"
            class="col-span-2"
          />
          <Image
            src={potpourriBulleitTattoo2}
            alt="siro open graph image"
            class="col-span-2"
          />
          <Image
            src={potpourriBulleitTattoo3}
            alt="siro open graph image"
            class="col-span-2"
          />
        </div>
        <video controls loop width="640" height="640">
          <source
            src="/public/videos/bulleit-tattoo/bulleit-tattoo-1.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
        <video controls loop width="640" height="640">
          <source
            src="/public/videos/bulleit-tattoo/bulleit-tattoo-2.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div
      class="border-gray mx-auto grid max-w-screen-2xl grid-cols-6 gap-1 border md:border-t-0"
    >
      <div title="Supercell" class="col-span-full grid grid-cols-6 gap-1">
        <Image
          src={potpourriClash3}
          alt="siro open graph image"
          class="col-span-6"
        />
        <Image
          src={potpourriClash2}
          alt="siro open graph image"
          class="col-span-2"
        />
        <video controls loop class="center col-span-4">
          <source
            src="/public/videos/clash/potpourriCR1.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div
      class="border-gray mx-auto grid max-w-screen-2xl grid-cols-6 gap-1 pb-1 md:border-t-0"
    >
      <div title="Misc" class="col-span-full grid grid-cols-4 gap-1">
        <Image
          src={potpourriCloud1}
          alt="siro open graph image"
          class="col-span-1"
        />
        <Image
          src={potpourriRY}
          alt="siro open graph image"
          class="col-span-1"
        />
        <Image
          src={potpourriDD}
          alt="siro open graph image"
          class="col-span-1"
        />
        <Image
          src={potpourriGrey4}
          alt="siro open graph image"
          class="col-span-1"
        />
      </div>
    </div>
    <div
      class="border-gray mx-auto grid max-w-screen-2xl grid-cols-6 gap-1 md:border-t-0"
    >
      <div title="Misc" class="col-span-full grid grid-cols-8 gap-1">
        <Image
          src={potpourriLC5}
          alt="siro open graph image"
          class="col-span-5"
        />
        <video controls loop class="col-span-3">
          <source
            src="/public/videos/little-caesars/potpourriLC2.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div
      class="border-gray mx-auto grid max-w-screen-2xl grid-cols-6 gap-1 border md:border-t-0"
    >
      <div title="Misc" class="col-span-full grid grid-cols-6 gap-1">
        <Image
          src={potpourriSawtooth4}
          alt="siro open graph image"
          class="col-span-6"
        />
        <Image
          src={potpourriSawtooth5}
          alt="siro open graph image"
          class="col-span-6"
        />
      </div>
    </div>
    <div
      class="border-gray mx-auto grid max-w-screen-2xl grid-cols-6 gap-1 border md:border-t-0"
    >
      <div title="Misc" class="col-span-full grid grid-cols-4 gap-1">
        <Image
          src={potpourriNYC1}
          alt="siro open graph image"
          class="col-span-1"
        />
        <Image
          src={potpourriNYC2}
          alt="siro open graph image"
          class="col-span-1"
        />
        <Image
          src={potpourriNYC3}
          alt="siro open graph image"
          class="col-span-1"
        />
        <Image
          src={potpourriNYC4}
          alt="NYC open graph image"
          class="col-span-1"
        />
      </div>
    </div>
  </div>
</BaseLayout>
