---
import { Image } from "astro:assets";

import statypeDeck1 from "../../assets/statype/statypeDeck1@2x.png";
import statypeDeck2 from "../../assets/statype/statypeDeck2@2x.png";
import statypeDeck3 from "../../assets/statype/statypeDeck3@2x.png";
import statypeDeck4 from "../../assets/statype/statypeDeck4@2x.png";
import statypeHomepage from "../../assets/statype/statypeHomepage@2x.png";
import statypeMktSales from "../../assets/statype/statypeMktSales@2x.png";
import statypeMktSOC from "../../assets/statype/statypeMktSOC@2x.png";
import statypeMktUI from "../../assets/statype/statypeMktUI@2x.png";
import statypeOGImage from "../../assets/statype/statypeOGImage@2x.png";
import statypeOld1 from "../../assets/statype/statypeOld-1@2x.png";
import statypeOld2 from "../../assets/statype/statypeOld-2@2x.png";
import statypeOpengraph from "../../assets/statype/statypeOpengraph@2x.png";
import statypeProductpage from "../../assets/statype/statypeProductpage@2x.png";
import statypeSalesUI from "../../assets/statype/statypeSalesUI@2x.png";
import Icon from "../../components/Icon.astro";
import Tag from "../../components/Tag.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Statype - Corey T" description="Statype Visual Identity">
  <div class="mx-auto w-full justify-center">
    <div
      class="border-gray relative mx-auto flex max-w-screen-2xl grid-cols-12 flex-col gap-x-2 border border-b-0 py-8 md:grid md:border-t-0"
    >
      <div class="relative col-span-12 grid-cols-12 justify-between md:grid">
        <div
          class="top-0 z-10 col-span-full grid bg-neutral-100 px-8 md:col-span-6"
          id="description"
        >
          <a
            class="mb-4 flex gap-2 pt-4 text-xs uppercase text-neutral-400"
            href="/work/"><Icon icon="arrow-left" /> Work</a
          >
          <h1 class="mb-2 text-5xl font-light">Statype Visual Identity</h1>
          <div class="-ml-2 mb-4 justify-start">
            <Tag text="Identity" />
            <Tag text="Web development" />
            <Tag text="print" />
            <Tag text="product" />
            <Tag text="illustration" />
          </div>
        </div>
        <div
          class="relative col-span-full gap-4 place-self-center px-8 md:col-span-6 md:mt-4"
        >
          <p class="text-md font-light">
            Statype revolutionizes business data analysis, enabling companies to
            effortlessly understand and utilize their data. This platform
            eliminates the need for complex coding or specialized reporting,
            providing businesses with a comprehensive view of their performance
            across various domains such as sales and customer interactions.
          </p>
        </div>
      </div>
    </div>
    <div
      class="border-gray mx-auto grid max-w-screen-2xl grid-cols-6 border md:border-t-0"
    >
      <Image
        src={statypeOpengraph}
        alt="statype previous branding refrence"
        class="col-span-full pb-8 md:col-span-6"
      >
        <div
          class="relative col-span-full grid grid-cols-6 items-start gap-4 px-8 pb-16 pt-8"
        >
          <div
            class="col-span-full flex items-center text-left md:col-span-3 md:inline-flex"
          >
            <div class="pr-8 text-xl font-light uppercase tracking-widest">
              The Challenge
            </div><div
              class="hidden flex-auto self-center border-b border-neutral-200 md:flex"
            >
            </div>
          </div>
          <p class="text-md col-span-full font-light md:col-span-3 md:px-8">
            Statype faced a significant challenge: it lacked a memorable visual
            language and required a distinct design system. The existing system,
            focused on presenting complex data simply, needed a thorough
            accessibility audit.
          </p>

          <div class="col-span-full px-8 pb-8 sm:col-span-3 sm:px-4">
            <Image
              src={statypeOld1}
              alt="statype Landing page"
              class="rounded-lg border"
            />
          </div>
          <div class="col-span-full px-8 pb-8 sm:col-span-3 sm:px-4">
            <Image
              src={statypeOld2}
              alt="statype Product page"
              class="rounded-lg border"
            />
          </div>
          <div
            class="relative col-span-6 grid grid-cols-6 items-start gap-4 px-8 pb-16 pt-8"
          >
            <div
              class="col-span-full flex items-center text-left md:col-span-3 md:inline-flex"
            >
              <div class="pr-8 text-xl font-light uppercase tracking-widest">
                The Solution
              </div><div
                class="hidden flex-auto self-center border-b border-neutral-200 md:flex"
              >
              </div>
            </div>
            <p class="text-md col-span-full font-light md:col-span-3 md:px-8">
              Aiming to bridge the marketing and product design, we developed a
              unified design system in collaboration with the Product and Dev
              teams. We began by revamping the color palette, ensuring
              compliance with WCAG standards and consistent lightness and
              contrast ratios. This palette was then seamlessly integrated into
              product graphs and marketing illustrations, unifying the visual
              language. We also refined the versatile weight range. Lastly we
              evolved the logo, creating a slimmer and more balanced mark that
              better represented the brand.
            </p>
          </div>
          <Image
            src={statypeOGImage}
            alt="Statype OG image"
            class="col-span-full border-b md:col-span-6"
          />
          <div class="col-span-full pb-8 sm:col-span-2">
            <Image
              src={statypeMktUI}
              alt="Statype Marketing Blog image"
              class="border-b"
            />
          </div>
          <div class="col-span-full pb-8 sm:col-span-2">
            <Image
              src={statypeMktSOC}
              alt="Statype SOC2 Blog image"
              class="border-b"
            />
          </div>
          <div class="col-span-full pb-8 sm:col-span-2">
            <Image
              src={statypeMktSales}
              alt="statype Product UI"
              class="border-b"
            />
          </div>

          <div
            class="relative col-span-6 grid grid-cols-6 items-start gap-4 px-8 pb-16 pt-8"
          >
            <div
              class="col-span-full flex items-center text-left md:col-span-3 md:inline-flex"
            >
              <div class="pr-8 text-xl font-light uppercase tracking-widest">
                The Execution
              </div><div
                class="hidden flex-auto self-center border-b border-neutral-200 md:flex"
              >
              </div>
            </div>
            <p class="text-md col-span-full font-light md:col-span-3 md:px-8">
              We built a core design system that branched into product and
              marketing-focused systems, enhancing efficiency and consistency.
              This system was integrated into the existing product and marketing
              website. Additionally, this project offered a chance to expand my
              frontend skills, as I worked with Astro, TailwindCSS, & TinaCMS,
              complementing the focused efforts of our development team on
              product features.
            </p>
          </div>
          <Image
            src={statypeSalesUI}
            alt="Statype OG image"
            class="col-span-full pb-8 md:col-span-6"
          />
          <div class="col-span-full px-4 pb-8 sm:col-span-3 sm:pl-0 sm:pr-2">
            <Image src={statypeHomepage} alt="statype Landing page" class="" />
          </div>
          <div class="col-span-full px-4 pb-8 sm:col-span-3 sm:pl-2 sm:pr-0">
            <Image
              src={statypeProductpage}
              alt="statype Product page"
              class=""
            />
          </div>
          <div class="col-span-full px-8 pb-8 sm:col-span-3 sm:px-4">
            <Image
              src={statypeDeck1}
              alt="statype pitch deck"
              class="rounded-lg border"
            />
          </div>
          <div class="col-span-full px-8 pb-8 sm:col-span-3 sm:px-4">
            <Image
              src={statypeDeck2}
              alt="statype pitch deck"
              class="rounded-lg border"
            />
          </div>
          <div class="col-span-full px-8 pb-8 sm:col-span-3 sm:px-4">
            <Image
              src={statypeDeck3}
              alt="statype pitch deck"
              class="rounded-lg border"
            />
          </div>
          <div class="col-span-full px-8 pb-8 sm:col-span-3 sm:px-4">
            <Image
              src={statypeDeck4}
              alt="statype pitch deck"
              class="rounded-lg border"
            />
          </div>
        </div>
      </Image>
    </div>
  </div>
</BaseLayout>
